extends layout

block content
 -
 

 h1= title
  .container-fluid 
    .row 
      each electronics  in results
        div(class="col-sm-2" style=`border:solid 2px black` onclick=`buy(${results.indexOf(electronics)})`) 
          p= electronics.Electronic_Name
          p= electronics.Electronic_Origin
          p= electronics.Electronic_ManufacturingYear
  script.
    function buy(index){
      alert("You purchased item "+index)
    }

