extends layout

block content
  style.
    a{
      height:30px;
      font-size:12px !important;
      margin:4px;
    }
    .item{
      position:fixed;
      bottom:0;
      z-index:-100
    }
    .img1{
      right:30;
    }
    .img2{
      right:30px;

    }
    body{
      background: linear-gradient(rgba(0, 0, 0,0.8),rgba(0, 0, 0,0.8)), url('https://images.pexels.com/photos/777001/pexels-photo-777001.jpeg');
      background-size:cover;
      height:100vh;
      background-repeat:no-repeat;
      color:white;
    }
    p{
      text-align:center;
      width:100%;
    }
    .row{
      display:flex;
      justify-content:center
    }
    h3{
      text-align:center;
      width :100%;
    }
    h1{
      color:white;
      text-shadow:1px 1px 12px black;
      text-align:center;
      margin :30px;
    }
    #buttons{
      border-radius:12px;
      width:100%;
      display:flex;
      flex-wrap:wrap;
      justify-content:space-evenly
    }
    .center{
      text-align:center;
      position:relative;
      top:50%;
      transform:translateY(-50%);
    }
  h1= title
  - let items = results;
  div(class="container-fluid")
    div(class="row")
      a( href=`/electronics/create`) 
        button.btn(class="btn btn-primary") Create new Electronic Instance
      each item,index in items
        - let destination = `dispatch(\"/electronics/update?id=${item._id}\")`
        - let destination2 = `dispatch(\"/electronics/delete?id=${item._id}\")`
        - let destination3 = `dispatch(\"/electronics/detail?id=${item._id}\")`
        div(class="col-sm-2" class="m-1")
          p #{item.Electronic_Name}
          p #{item.Electronic_Origin}
          p #{item.Electronic_ManufacturingYear}
          button.btn( class="btn-primary ml-1", onclick= destination) Update
          button.btn( class="btn-primary ml-1", onclick= destination3) Detail
          button.btn( class="btn-primary ml-1", onclick= destination2) Delete
  script.
    function dispatch(path){
      console.log(path);
      window.location.href=path;
    }
  