extends layout
block content
    if (toShow == null)
        h2 No instance to delete
    else
        - let electronicid = toShow._id
        - let electronic_Name = toShow.Electronic_Name
        - let electronic_loc = toShow.Electronic_Origin
        - let electronic_variants = toShow.Electronic_ManufacturingYear
        - let actionid = "/resource/electronics/" + electronicid
            h1= title
                - let electronicid = toShow._id
                - let Electronic_Name = toShow.Electronic_Name
                - let Electronic_Origin = toShow.Electronic_Origin
                - let Electronic_ManufacturingYear = toShow.Electronic_ManufacturingYear
                div
                    div.row
                        div(class='electronicAttr mr-3') Electronic ID is:
                        div #{electronicid}
                    div.row
                        div(class='electronicAttr mr-3') Electronic Name is:
                        div #{Electronic_Name}
                    div.row
                        div(class='electronicAttr mr-3') Electronic Origin is:
                        div #{Electronic_Origin}
                    div.row
                        div(class='electronicAttr mr-3') Electronic Manufacturing Year is:
                        div #{Electronic_ManufacturingYear}